<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement</title>
    <link rel="stylesheet" href="../static/css/dataregistrering.css" th:href="@{css/dataregistrering.css}">
</head>
<body>
<section class="header">
    <div class="logo">
        <a th:href="@{https://bilabonnement.dk/}" class="logo">
        </a>
    </div>
    <div class="form-container">
        <form id="opret-form" action="#" method="POST">
            <a href="forside" class="back-to-home">Gå tilbage til forside</a>
        </form>
    </div>
</section>
<h1>Data registrering</h1>
<form id="dataregistrering-form" action="/dataregistrering/opret-lejeaftale" method="POST">
    <input type="text" id="fornavn" name="navn" placeholder="Fornavn" required>
    <input type="text" id="efternavn" name="efternavn" placeholder="Efternavn" required>
    <input type="text" id="stelnummer" name="stelNummer" placeholder="Stelnummer" required>
    <input type="text" id="bilModel" name="bilModel" placeholder="Bil model" required>

    <label for="bilMærke">Vælg bilmærke:</label>
    <select id="bilMærke" name="bilMærke" required>
        <option value="Toyota">Toyota</option>
        <option value="Opel">Opel</option>
        <option value="Fiat">Fiat</option>
        <option value="Citroen">Citroen</option>
        <option value="Peugeot">Peugeot</option>
        <option value="Polestar">Polestar</option>
        <option value="Ford">Ford</option>
        <option value="Volkswagen">Volkswagen</option>
        <option value="BMW">BMW</option>
        <option value="Mercedes">Mercedes</option>
    </select>

    <input type="date" id="lejeStartDato" name="lejeStartDato" required>
    <input type="date" id="lejeSlutDato" name="lejeSlutDato" required>
    <button type="submit">Opret leje aftale</button>
</form>

<footer>
    <section class="footer">
        <p><strong> Bilabonnement A/S </strong></p>
        <p> Vibeholmsvej 31 2605 Brøndby CVR-nr. 37856827</p>
    </section>
</footer>

</body>
</html>
