<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width. initial-scale=1.0">
    <title>Medarbejder Dashboard</title>
     <link rel="stylesheet" href="../static/css/forside.css" th:href="@{css/forside.css}">

    </head>
    <body>

         <nav>
             <div class="container">
                 <ul>
                     <li><a href="http://localhost:63342/BilRapport/src/main/resources/templates/dataregistrering.html?_ijt=c7lndm1avlfoul2ln30q995tmm">Dataregistrering</a></li>
                     <li><a href="http://localhost:63342/BilRapport/src/main/resources/templates/skade.html?_ijt=jbd5vtpkqtr7n65lob5d49fuqm">Skade og udbedring</a></li>
                     <li><a href="http://localhost:63342/BilRapport/src/main/resources/templates/opret.html?_ijt=4s0r10bhs1p02ocn4ku8tpd064">Opret </a> </li>
                     <li><a href="http://localhost:63342/BilRapport/src/main/resources/templates/login.html?_ijt=4s0r10bhs1p02ocn4ku8tpd064">Login</a></li>

                 </ul>
             </div>
    </nav>

         <div id="dashboard">
             <div class ="container">
                 <h1>Lejeaftaler </h1>

                 <div class="summary">
                     <p>Antal aktive lejeaftaler: <strong>XX</strong></p>
                     <p>Samlet pris for nuværende lejede biler: <strong>XXX DKK</strong></p>
                 </div>

                 <div class="chart">

                     <p> Grafisk præsentation af data her</p>
                 </div>
             </div>
         </div>

    <div id="status">
        <div class="container">
            <p>Aktuel status: Ingen nye opdateringer.</p>
        </div>
    </div>
         <footer>
             <section class="footer">
                 <p><strong> Bilabonnement A/S </strong></p>
                 <p> Vibeholmsvej 31 2605 Brøndby CVR-nr. 37856827</p>
             </section>

         </footer>
    </body>
    </html>




























