<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement</title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{css/login.css}">

</head>
<body>
<section class="header">

    <div class="logo">
        <a th:href="@{https://bilabonnement.dk/}" class="logo">
            <img src="../static/img/bil.png" th:src="@{img/bil.png}" width="30%" height="30%" alt="logo1">
        </a>

    </div>
    <form id="login-form" action="/submit-your-login-path" method="POST">
        <a href="forside.html" class="back-to-home">Gå tilbage til forside</a>
    </form>

    <h1> Medarbejder Login </h1>
</section>

</body>
</html>