<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement</title>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{css/login.css}">

</head>
<body>
<section class="header">

    <div class="logo">
        <a th:href="@{https://bilabonnement.dk/}" class="logo">
            <img src="../static/img/bil.png" th:src="@{img/bil.png}" width="30%" height="30%" alt="logo1">
        </a>

    </div>
    <div class="form-container">
        <form id="opret-form" action="/submit-your-opret-path" method="POST">
            <a href="forside.html" class="back-to-home">Gå tilbage til forside</a>
        </form>
    </div>

    <h1> Medarbejder Login </h1>
</section>
<div class="form-container" th:object="${user}">


    <h2>Login</h2>
    <label for="username"><strong>Brugernavn:</strong></label>
    <input type="text" id="username" name="username" th:field="${user.username}" required>

    <label for="password"><strong>Adgangskode:</strong></label>
    <input type="password" id="password" name="password" th:field="${user.password}" required>

    <button type="submit">Login</button>
</div>
<footer>
    <section class="footer">
        <p><strong> Bilabonnement A/S </strong></p>
        <p> Vibeholmsvej 31 2605 Brøndby CVR-nr. 37856827</p>
    </section>

</footer>
</body>
</html>